PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/factohr
ACCESS_TOKEN_SECRET=your_access_token_secret_min_32_chars
REFRESH_TOKEN_SECRET=your_refresh_token_secret_min_32_chars
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d
NODE_ENV=development
CLIENT_URL=http://localhost:5173
